.main {
  height: 100%;
  margin-left: 270px;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  transition: margin 0.2s;
  .section {
    margin-top: 30px;
    flex: 1;
  }
}

.innerMain {
  color: white;
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.longMain {
  height: 100%;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  transition: margin 0.2s;
  .section {
    margin-top: 30px;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 0px;
    .section {
      margin-top: 50px;
    }
  }

  .innerMain {
    color: white;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
}
