.header {
  background: var(--highlight);
  height: 0px;
  transform: translateY(-50px);
  transition: transform 0.2s, height 0.2s;
  .menus {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .menu {
      height: 100%;
      display: flex;
      cursor: pointer;
      align-items: center;
      flex: 1;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .lineWrap {
        display: flex;
        position: relative;
        width: 30px;
        padding-top: 20px;
        .line {
          position: absolute;
          width: 100%;
          height: 2px;
          border: 1px solid white;
        }

        :nth-child(1) {
          top: 0px;
        }
        :nth-child(2) {
          top: 10px;
        }
        :nth-child(3) {
          top: 20px;
        }
      }
    }
  }

  .categoryList {
    display: none;
  }
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
    transform: translateY(0px);
    position: fixed;
    width: 100%;
    z-index: 100;
    .categoryList {
      display: flex;
      width: 100%;
      background: var(--highlight);
      flex-direction: column;
      padding-bottom: 5px;
      a {
        width: calc(100% - 10px);
        margin-left: 5px;
        padding: 15px;
        &:hover {
          background: var(--highlight-selected);
        }
      }
    }
  }
}
