.sidebar {
  direction: rtl;
  .innerWrap {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
  }
  .ghost {
    min-height: 785px;
    padding: 0;
    margin: 0;
    width: 30px;
    background: var(--bg-main);
  }
  transition: transform 0.2s;
  background: var(--bg-sidebar);
  position: fixed;
  height: 100vh;
  width: 300px;
  display: flex;
  color: var(--cl-white);

  margin-right: 10px;

  overflow-y: auto;
  overflow-x: visible;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background: var(--highlight);
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  .goMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: var(--highlight);
    text-align: center;
    font-size: 21px;
    a {
      height: 100%;
      line-height: 50px;
    }
  }

  .profileBox {
    text-align: center;
    margin: 25px auto;

    .img {
      background: none;
      width: 180px;
      height: 200px;
      border-radius: 10px;
    }
    .name {
      margin-top: 5px;
      font-weight: bold;
    }
    .subName {
      margin-bottom: 5px;
    }
    .email {
      margin: 5px 0px;
    }
    .visitor {
      margin: 5px 0px;
    }
    .posting {
      margin: 5px 0px;
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ctg {
    direction: ltr;
    margin-left: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .ctgList {
    direction: ltr;
    margin-bottom: 0px;
    flex: 1;
  }

  .ctgLi {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    font-size: 18px;
    background: var(--bg-sidebar);
    transition: transform 0.2s, background 0.2s, box-shadow 0.2s;
    cursor: pointer;
    :nth-child(2) {
      margin-right: 10px;
      color: var(--highlight);
    }
    &:hover {
      box-shadow: 2px 0px 1px var(--highlight);
      transform: translate(25px, 0px);
    }
    &:active {
      box-shadow: none;
      box-shadow: 1px 0px 4px rgb(255, 162, 162);
      transform: translate(0, 0);
    }
  }

  .sidebarBottom {
    background: linear-gradient(0, rgb(163, 35, 67) 75%, rgba(0, 0, 0, 0));
    width: 100%;
    padding: 30px 10px 10px;
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    a {
      width: 30%;
      height: 100%;
    }
    .links {
      border-radius: 8px;
      background: rgba($color: #353535, $alpha: 1);
      width: 30%;
      height: 100%;
      display: flex;
      a {
        display: flex;
        height: 100%;
        flex: 1;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
    }
    .loginBtn {
      border-radius: 8px;
      display: flex;
      height: 100%;
      flex: 1;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .active {
      border: 2px solid lightgreen;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-300px);
  }
}
