.sidebar {
  transition: transform 0.2s;
  background: var(--bg-white);
  position: fixed;
  height: 100vh;
  width: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: var(--bg-main);
  .profileBox {
    text-align: center;
    margin: 25px auto;

    .img {
      background: none;
      width: 130px;
      height: 150px;
      border-radius: 10px;
    }
    .name {
      margin-top: 5px;
      font-weight: bold;
    }
    .subName {
      margin-bottom: 5px;
    }
    .email {
      margin: 5px 0px;
    }
    .visitor {
      margin: 5px 0px;
    }
    .posting {
      margin: 5px 0px;
      margin-left: 10px;
    }
  }

  .ctg {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .ctgList {
    margin-bottom: 40px;
  }

  .ctgLi {
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    font-size: 18px;
    transition: transform 0.2s, background 0.2s;
    cursor: pointer;

    &:hover {
      box-shadow: 3px 3px 5px rgb(218, 224, 197);
      transform: translate(-2px, -2px);
      background: linear-gradient(175deg, rgb(255, 255, 239), rgb(255, 255, 225));
    }
    &:active {
      transform: translate(0, 0);
    }
  }

  .sidebarBottom {
    width: 250px;
    position: absolute;
    bottom: 10px;

    .linkBox {
      margin-bottom: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .gitLink {
        border-radius: 8px;
        background: rgba($color: #7dff6c, $alpha: 1);
        width: 48%;
        overflow: hidden;
        color: white;
        padding: 5px;
      }
      .resumeLink {
        border-radius: 8px;
        background: rgba($color: #7dff6c, $alpha: 1);
        width: 48%;
        overflow: hidden;
        color: white;
        padding: 5px;
      }
    }

    .loginBtn {
      cursor: pointer;
      width: 100%;
      background: rgba($color: #7dff6c, $alpha: 1);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-270px);
  }
}
