.docCard {
  position: relative;
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  background: rgb(27, 27, 27);
  border-radius: 3px;

  .docCardWrap {
    display: flex;

    .thumnail {
      width: 180px;
      height: 180px;
      background: white;
      margin-right: 10px;
    }

    .title {
      font-size: 25px;
      margin: 10px 0px;
    }

    .summary {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .viewLine {
      position: absolute;
      bottom: 10px;

      span {
        margin-right: 10px;
      }
    }
  }
}
