@font-face {
  font-family: 'font1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: font1;
  user-select: none;
}

:root {
  /*색상 변수*/
  --bg-main: #232323;
  --bg-sidebar: #2c2c2c;
  --bg-header: #ffdc17;

  --bg-white: #f4f4f4;
  --cl-white: #ffffff;
  --cl-black: #000000;
}
