@font-face {
  font-family: 'font1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: font1;
  user-select: none;

  input {
    font-family: font1;
  }
}

a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

:root {
  /*색상 변수*/
  --bg-main: #232323;
  --bg-sidebar: #2c2c2c;
  --bg-white: #f4f4f4;
  --highlight: #be3455;
  --highlight-selected: #de476a;
  --cl-white: #ffffff;
  --cl-black: #000000;
}
