.toastui-editor-contents pre {
  background: linear-gradient(135deg, rgb(56, 56, 56), rgb(40, 40, 40));
  border-radius: 10px;
}

.toastui-editor-contents p {
  color: white;
  font-size: 21px;
}

.toastui-editor-contents h4 {
  color: white;
  font-size: 22px;
  font-weight: 200;
}

.toastui-editor-contents h3 {
  color: white;
  font-size: 23px;
  font-weight: 200;
}

.toastui-editor-contents h2 {
  color: white;
  font-size: 24px;
  font-weight: 200;
}

.toastui-editor-contents h1 {
  color: white;
  font-size: 25px;
  font-weight: 200;
}
