.sidebar {
  background: var(--bg-white);
  position: fixed;
  height: 100vh;
  width: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: var(--bg-main);
  .profileBox {
    text-align: center;
    margin: 25px auto;

    .img {
      background: none;
      width: 130px;
      height: 150px;
      border-radius: 10px;
    }
    .name {
      margin-top: 5px;
      font-weight: bold;
    }
    .subName {
      margin-bottom: 5px;
    }
    .email {
      margin: 5px 0px;
    }
    .visitor {
      margin: 5px 0px;
    }
    .posting {
      margin: 5px 0px;
      margin-left: 10px;
    }
  }

  .ctg {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .ctgList {
    padding-left: 30px;
    margin-bottom: 40px;
  }

  .sidebarBottom {
    width: 250px;
    position: absolute;
    bottom: 10px;

    .linkBox {
      margin-bottom: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .gitLink {
        border-radius: 8px;
        background: var(--bg-main);
        width: 48%;
        overflow: hidden;
        color: white;
        padding: 5px;
      }
      .resumeLink {
        border-radius: 8px;
        background: rgba($color: #86d486, $alpha: 1);
        width: 48%;
        overflow: hidden;
        color: white;
        padding: 5px;
      }
    }

    .loginBtn {
      cursor: pointer;
      width: 100%;
      background: var(--bg-header);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
  }
}
