.main {
  height: 100%;
  margin-left: 270px;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  transition: margin 0.2s;
  .section {
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-left: 0px;
  }
}
