.announcementWrap {
  flex: 1;

  margin-right: 10px;
  .ctg {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .announcementBox {
    border: 2px solid var(--highlight);
    border-radius: 10px;
    padding: 10px;
    height: 165px;

    li {
      margin-bottom: 8px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .announcementWrap {
    .announcementBox {
      height: 100px;
    }
  }
}
