.inputWrap {
  width: 75%;
  min-width: 330px;
  display: flex;
  padding: 3px 3px;
  background: var(--bg-sidebar);
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;

  background-image: linear-gradient(var(--bg-main), #444444),
    linear-gradient(135deg, var(--highlight), #ff00aeaa, #fff200aa);
  background-origin: border-box;
  background-clip: content-box, border-box;

  .searchIcon {
    color: rgb(255, 255, 255);
    margin: 0 5px;
    min-width: 20px;
    min-height: 20px;
    margin-left: 10px;
  }
  .searchInput {
    color: white;
    width: 95%;
    padding: 5px;
    font-size: 25px;
    border: none;
    outline: none;
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .inputWrap {
    width: 100%;
  }
}
