.inputWrap {
  width: 75%;
  min-width: 330px;
  display: flex;
  padding: 5px 10px;
  background: var(--bg-sidebar);
  align-items: center;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  border: 2px solid var(--highlight);

  .searchIcon {
    color: rgb(255, 255, 255);
    margin: 0 5px;
    min-width: 20px;
    min-height: 20px;
  }
  .searchInput {
    color: white;
    width: 90%;
    padding: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    background: none;
  }
}

@media screen and (max-width: 768px) {
  .inputWrap {
    width: 100%;
  }
}
