.titleWrap {
  margin-bottom: 40px;

  .docInfo {
    margin-bottom: 40px;
    .modifyBtn {
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .deleteBtn {
      margin-right: 20px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 200;
  }

  .titleImg {
    width: 500px;
  }
}

.mainContent {
  margin-bottom: 100px;
  color: rgb(255, 255, 255);
}

.ctg {
  display: block;
  cursor: pointer;
  width: 100px;
  &:hover {
    text-decoration: underline;
  }
}

.commentBox {
  margin-bottom: 300px;
  .commentWrap {
    border-top: 1px solid rgb(255, 255, 255);
    padding-top: 5px;
    margin-top: 5px;

    .inputWrap {
      .input {
        resize: none;
        width: 100%;
        outline: none;
        font-size: 21px;
        padding: 5px;
      }
    }

    .card {
      width: 100%;
      padding: 10px;
      background: grey;
      border-bottom: 1px solid var(--bg-main);
      .content {
        margin-top: 10px;
        margin-left: 25px;
        margin-bottom: 0px;
      }
    }

    .indentCard {
      padding-left: 60px;
    }
  }
}

.thumbUp {
  position: relative;
  top: 7px;
  margin-left: 10px;
  font-size: 20px;
}

.thumbupWrap {
  :hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 768px) {
  .titleWrap {
    .titleImg {
      width: 100%;
    }
  }
}
