.titleBox {
  .titleHead {
    position: relative;
    display: flex;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: white;
    border: 1px solid black;
    padding: 10px;

    .titleInput {
      font-size: 36px;
      border: none;
      width: 90%;
      height: 40px;
      margin-bottom: 5px;

      &:focus {
        outline: none;
      }
    }

    .submit {
      cursor: pointer;
      position: absolute;
      display: block;
      right: 5px;
      top: 4px;
      width: 10%;
      height: 50px;
      border-radius: 10px;
      border: none;
      background: var(--highlight);
      font-size: 25px;
    }
  }
}
.contentWrap {
  background: rgb(255, 251, 251);
  color: black;
}

.thumbNail {
  width: 260px;
  display: block;
  background: rgb(194, 194, 194);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  height: 100px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: rgb(177, 177, 177);
  }
}

.imageWrap {
  width: 260px;
  height: 300px;
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    filter: brightness(0.5);
  }
}
