.profileBox {
  color: white;
  padding: 80px;
  border-bottom: 2px solid white;

  display: flex;

  img {
    width: 300px;
    height: 300px;
    border-radius: 70px;
  }

  .profile {
    padding: 20px;

    > :nth-child(1) {
      font-size: 50px;
      color: var(--bg-header);
      margin-bottom: 60px;
    }
    > :nth-child(n + 2):nth-child(-n + 4) {
      margin-left: 40px;
      margin-bottom: 20px;
    }
  }
}
